/******* Heading of the css starts ********/
body {
	width: 60%;
	margin: 0px auto;
}
.header{
  background-image: url(header-image-02.jpg);
  background-repeat: no-repeat;
  padding: 70px 10px 50px 40px;
  margin-top: -10px !important;
}
.header-area{
	padding-left: 280px;
	padding-top: 20px;
	font-size: 20px;
}
/******** Heading of the css ends ********/

/******** Menu starts ********/
.menu-area{
	width: 40%;
}
ul {
  padding: 0;
  width: 100%;
}

li {
  display: inline;
}

#l1 a {
  outline: none;
  text-decoration: none;
  display: inline;
  border: 1px solid green;
  padding: 5px 10px;
  margin-bottom: 11px;
  width: 29.5%;
  margin-right: 4.625%;
  text-align: center;
  line-height: 2;
  color: black;
}

#l1 a:link, a:visited, a:focus {
  background: white;
  color: green;
  border: 1px solid green;  
}

#l1 a:hover {     
  background: green;
  color: white;
  border: 1px solid green;
}

#l1 a:active {
  background: red;
  color: white;
  border: 1px solid green;
}

#l1 li:last-child a {
  margin-right: 0;
}
/******** Menu ends *********/ 
/******** Content of the webpage starts **********/
.content-area {
  display: flex;
}
.blogleft{
  width: 40%;
  float: left;
}
.image-content{
  width: 53%;
  float: left;
  margin-left: 4%;

}
/*.blogright{
  width: %;
  float: right;
  padding-left: 80px;
}*/
.contri{
  padding-top: 20px;

}
.contri-heading{
    color: blue;
    padding-top: 10px; 
    font-size: 20px;
    
}
.inside-contri{
  padding-top: -13px;
  font-size: 2.2vmin;
 }

#l2 a {
  outline: none;
  text-decoration: none;
}
#l2 a:link, a:visited, a:focus {
  background: white;
}
#l2 a:hover
{
  background: yellow;
}