/* styles.css */
/* location: assets/css/styles.css */

body {
	width: 75%;
	margin: 0 auto;
}
/* header syles */
/* ************ */
.header {
	background: red;
	padding: 50px 0 50px 20px;

}

/* main content area styles */
/* *********** */
.content-area {
	display: flex;
	padding: 30px;
}

/* blogroll */
.blogroll
{
 width: 70%;
}
.blogroll-header
{

}
.blogroll-content
{

}
.blogroll-list-item
{

}

/* sidebar */
.sidebar{

}
.sidebar-item
{

}

/* footer area styles */
/* ******* */
.foote-area
{

}
